@charset "UTF-8";
html {
	height:100%;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
	height:100%;
}
a, a:visited {
	color: #039;
	text-decoration: none;
}
a:hover, a:active {
	color: #039;
	text-decoration: underline;
}
h1 {
	margin-top: 0px;
	padding-top: 0px;
}
h2 {
	color: #036;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #AAA;
	margin-top: 10px;
	padding-top: 10px;
}
.param {
	font-family: Courier, monospace;
	font-size: 13px;
	color: #066;
	font-weight: bold;
	font-style: italic;
}
.paramd {
	font-family: Courier, monospace;
	font-size: 13px;
	color: #066;
	font-weight: bold;
	font-style: italic;
	padding-right: 10px;
}
.examplehead {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
}
.examplebox {
	border: 1px solid #CCC;
}
.examplebody {
	font-family: Courier, monospace;
	font-size: 12px;
}
.syntax {
	font-family: Courier, monospace;
	color: #000;
	font-size: 14px;
}
.section {
	padding: 5px;
}

.functionname {
	font-size: 18px;
	font-weight: bold;
	color: #036;
}
table {
	border-collapse:collapse;
}
th {
	background-color: #DDDDFF;
}
.kw {
	font-family: Courier, monospace;
	font-size: 13px;
}
pre {
	font-family: Courier, monospace;
	font-size: 13px;
	background-color: #EEEEEE;
	padding: 5px;
	border: 1px dashed #666;
}
.codecomment {
	color: #090;
	font-family: Courier, monospace;
	font-size: 13px;
}
.codestring {
	color: #F00;
	font-family: Courier, monospace;
	font-size: 13px;
}
.codekw {
	color: #939;
	font-family: Courier, monospace;
	font-size: 13px;
}
.codenum {
	color: #00F;
	font-family: Courier, monospace;
	font-size: 13px;
}
.codemacro {
	color: #963;
	font-family: Courier, monospace;
	font-size: 13px;
}
.codenone {
	color: #000;
	font-family: Courier, monospace;
	font-size: 13px;
}
.codefunc {
	color: #000;
	font-family: Courier, monospace;
	font-size: 13px;
	font-weight: bold;
}
#navframe {
	border: none;
	height: 100%;
	width: 100%;
}
.navleft {
	width: 250px;
	border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	padding: 0;
	margin: 0;
	background-color: #EEEEEE;
}

.nav_body {
	background-color: #E4EBF7;
}
.nav_module {
	border-bottom: solid 1px #666;
	height: 24px;
	background-image: url(bg1.png);
	padding: 0;
	margin: 0;
	padding-left: 6px;
}
